{% extends 'reviews/home.html' %}
{% load crispy_forms_tags %}

{% block title %}
add-review-page
{% endblock title %}



{% block content %}
<form action="" method="post" class="bg-red-500 p-5 m-2">
    {% csrf_token %}
    {{form|crispy}}
    <button
        class="px-2 py-1 text-xs  text-white  transition-colors duration-200 transform bg-green-400 rounded dark:bg-gray-700 hover:bg-green-500 dark:hover:bg-gray-600 focus:outline-none focus:bg-gray-700 dark:focus:bg-gray-600 ">
        submit
    </button>
</form>
{% endblock content %}