{% extends 'reviews/home.html' %}

{% block title %}
book-list-page
{% endblock title %}

{% block content %}


<!-- search component -->
<script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>

<div class="my-12 px-4 py-2 border-2 border-gray-300 flex items-center max-w-md mx-auto bg-white rounded-full " x-data="{ search: '' }">
    <div class="w-full">
        <input type="search" class=" w-full px-4 py-1 text-gray-900 rounded-full focus:outline-none"
            placeholder="search" x-model="search">
    </div>
    <div>
        <button type="submit" class="flex items-center justify-center w-8 h-8 text-gray-100 rounded-full"
            :class="(search.length > 0) ? 'bg-green-500' : 'bg-gray-500 cursor-not-allowed'"
            :disabled="search.length == 0">
            <svg class="w-5 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
        </button>
    </div>
</div>


<section
  class="container mx-auto p-10 md:p-20 grid lg:grid-cols-3 2xl:grid-cols-3 grid-cols-1 gap-y-16 gap-x-24 transform duration-500">
  {% for book in book_list %}
  
  <article
    class="shadow-md mx-auto max-w-sm transform hover:-translate-y-1 duration-300 hover:shadow-xl ">
    <a href="/book/{{ book.id }}">
    <div class="max-h-120 overflow-hidden px-4">
      <img class=" w-72 h-72 rounded-lg"
        src="https://images.squarespace-cdn.com/content/v1/58dd442dbebafb88160c6929/1524859470168-GEDZWSZVFS2VN76NFZY0/ke17ZwdGBToddI8pDm48kPvdHwxe8vxmYnjZvCzAU61Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwxsJYjeBOStWfhZBaQGTlDOVYbSZjX976lCUHHLPdHUlrmON35exl807wLzw9VMGw/visit06.jpg?format=800w"
        alt="" />
    </div>
    {% comment %} <div class="p-7 my-auto pb-12 ">
      <h1 class="text-2xl font-semibold text-gray-700">{{ item.book.title }}</h1>
      <p class="text-xl font-light leading-relaxed text-gray-400 mt-5">
        Super creative and colorful illustrations by Matheus Lopes. Check out more of his amazing artworks in his
        portfolio.
      </p>
    </div> {% endcomment %}

    <div class=" mx-2  p-4 md:p-4">
      
        <h1 class=" m-1 text-2xl font-bold text-gray-800 dark:text-white">{{ book.title }}</h1>
      
      
      <h2 class=" m-1">Publisher:<span class="pl-4">{{ book.publisher }}</h2>

      <div class="flex items-center">
        <div class="flex inline-flex -mx-px">
          <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
            <path
              d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z" />
          </svg>
          <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
            <path
              d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z" />
          </svg>
          <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
            <path
              d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z" />
          </svg>
          <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
            <path
              d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z" />
          </svg>
          <svg class="w-4 h-4 mx-px fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
            <path
              d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z" />
          </svg>
        </div>
        <h1 class=" m-1 py-1 text-2xl font-bold text-gray-800 dark:text-white"><span class="pl-32">₹264</h1>
        {% comment %} <button type='submit'
          class="ml-24 px-8 py-1 text-xs font-bold text-white uppercase transition-colors duration-200 transform bg-purple-600 rounded dark:bg-gray-700 hover:bg-purple-700 dark:hover:bg-purple-600 focus:outline-none focus:bg-purple-700 dark:focus:bg-purple-600 "
          onclick="location.href='/book/{{ item.book.id }}'">Read More</button> {% endcomment %}
      </div>

    </a>
  </article>
  
  {% endfor %}

  
</section>

{% endblock content %}
