{% extends 'reviews/home.html' %}
{% load humanize %}

{% block content %}

<!-- message -->

<div class="w-2/3 mx-auto my-10">
  {% for message in messages %}
  
<div class="container" id="alertbox">
    <div class="container w-1/4 mt-20 mx-auto px-auto bg-green-500 rounder-md flex items-center text-white text-sm font-bold px-4 py-3 relative"
        role="alert">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
                d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
        </svg>
        <p>{{message}} <span class='pr-2'></span> </p>

        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
            <svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
	integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous">
	</script>

<script>
$(".closealertbutton").click(function (e) {
    // $('.alertbox')[0].hide()
    // e.preventDefault();
    pid = $(this).parent().parent().hide(500)
    console.log(pid)
    // $(".alertbox", this).hide()
})
</script>
{% endfor %}
</div>

<!--book-hero-section-->
<div class="-mt-20 flex items-center justify-center min-h-screen ">
  <div class="w-3/4 h-auto">
    <div class="py-20 bg-white shadow-xl rounded-lg overflow-hidden md:flex border-2">
      <div class="">
        <img src="{{book.image.url}}" class=" px-8 py-6 mx-20 " alt="..." />
        {% comment %} <svg class="mb-4 ml-24 w-4 h-4 mx-px fill-current text-green-600"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
          <path
            d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z" />
        </svg> {% endcomment %}

      </div>

      <div class="w-4/5 md:p-5  mx-auto my-2">
        <h1 class="text-4xl font-bold underline pl-28">{{ book.title }}</h1>
        <h3 class="font-semi-bold text-blue-600 text-md md:text-md mt-4 hover:underline pl-28">Author <span
            class='pl-2'></span>
          {{author.first_name}}<span class="pl-2">{{author.last_name}}</span> </h3>
        <h3 class="font-semi-bold text-blue-600 text-md md:text-md hover:underline pl-28">Publisher <span
            class='pl-2'></span>
          {{book.publisher}}</h3>

        <table class="w-full flex flex-row flex-no-wrap  overflow-hidden  mt-8 mb-12 pl-28">

          <tbody class="flex-1 sm:flex-none text-medium text-lg text-gray-600 ">
            <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
              <td class="border-grey-200 hover:bg-gray-100 ">Genre</td>
              <td class="border-grey-200 hover:bg-gray-100 pl-24">{{book.genre}}</td>
            </tr>
            <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
              <td class="border-grey-200 hover:bg-gray-100 pt-3">Language</td>
              <td class="border-grey-200 hover:bg-gray-100 pt-3 pl-24">{{book.language}}</td>
            </tr>
            <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
              <td class="border-grey-200 hover:bg-gray-100 pt-3">Formate</td>
              <td class="border-grey-200 hover:bg-gray-100 pt-3 pl-24">{{book.type}}</td>
            </tr>
            <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
              <td class="border-grey-200 hover:bg-gray-100 pt-3">Price</td>
              <td class="border-grey-200 hover:bg-gray-100 pt-3 pl-24">₹ <span class='pr-2'></span> {{book.price}}</td>
            </tr>
            <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
              <td class="border-grey-200 hover:bg-gray-100 pt-3">ISBN</td>
              <td class="border-grey-200 hover:bg-gray-100 pt-3 pl-24">{{book.isbn}}</td>
            </tr>
          </tbody>
        </table>
        <form action="order/">
        <button {% if book.stock %}
          class="mt-6 sm:mt-0 py-2  px-5 md:py-2 md:px-6 bg-indigo-700 hover:bg-indigo-600 font-bold text-white md:text-sm rounded-lg shadow-md ml-28">BUY
          NOW
        </button>
        <span class='pl-4 '></span>
        <button
          class="mt-3 sm:mt-0 py-2 px-5 py-2 md:px-3 bg-indigo-700 hover:bg-indigo-600 font-bold text-white md:text-sm rounded-lg shadow-md">ADD
          TO CART
        </button>
      </form>
        {% else %}
        <span class='pl-28 '></span>
        <button
          class="mt-3 sm:mt-0 py-2 px-5 py-2 md:px-3 bg-red-400 hover:bg-red-500 font-bold text-white md:text-sm rounded-lg shadow-md">CURRENTLY
          OUT OF STOCK
        </button>
        {% endif %}
      </div>

    </div>

  </div>
</div>

<!--book-Description-section-->
<div class="-mt-28 flex items-center justify-center min-h-screen ">
  <div class="w-3/4  h-auto">
    <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex border-2">
      <div class="px-28 py-20 text-justify ">
    <h5 class="text-gray-900 text-3xl leading-tight font-medium mb-2 text-center -mt-4 mb-8 underline">Book Description
    </h5>
    <p class="text-green">
      {{book.description|safe}}
    </p>
  </div>
</div>
</div>
</div>

<!--book-details-section-->
<div class="-mt-28 flex items-center justify-center min-h-screen ">
  <div class="  h-auto">
    <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex border-2">
      <div class="px-28 py-20 text-justify ">
    <h5 class="text-gray-900 text-3xl leading-tight font-medium mb-2 text-center -mt-4 mb-8 underline">Book Details
    </h5>
    <table
      class=" mx-96 px-20 overflow-hidden  text-gray-600 text-base text-xl tracking-wide leading-8 text-justify">

      <tbody class="flex-1 sm:flex-none text-medium text-lg text-gray-600 shadow-lg">
        <tr class=" flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100  ">ISBN</td>
          <td class="border-grey-200 hover:bg-gray-100 pl-12 py-4">{{book.isbn}}</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 ">Publication Date</td>
          <td class="border-grey-200 hover:bg-gray-100 pl-12 py-4">{{book.publication_date}}</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 ">Publisher</td>
          <td class="border-grey-200 hover:bg-gray-100 pl-12 py-4">{{book.publisher}}</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 ">Available Formate</td>
          <td class="border-grey-200 hover:bg-gray-100 pl-12 py-4">{{book.type}}</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 ">Number of pages</td>
          <td class="border-grey-200 hover:bg-gray-100 pl-12 py-4">450</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 ">Dimension</td>
          <td class="border-grey-200 hover:bg-gray-100 pl-12 py-4"> 5"x8" </td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 pt-2">Binding</td>
          <td class="border-grey-200 hover:bg-gray-100 pt-2 pl-12 py-4"> Paperback (Perfect Binding)</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 ">Interior Pages</td>
          <td class="border-grey-200 hover:bg-gray-100 pl-12 py-4">Black & White</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 pt-2">Price</td>
          <td class="border-grey-200 hover:bg-gray-100 pt-2 pl-12 py-4">₹ <span class='pr-2'></span> {{book.price}}</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row  sm:mb-0 border-b-2">
          <td class="border-grey-200 hover:bg-gray-100 ">Availability</td>
          {% if book.stock  %}
          <td class="border-grey-200 hover:bg-gray-100 text-semibold text-green-500 pl-12 py-4">In Stock</td>
          {% else %}
          <td class="border-grey-200 hover:bg-gray-100 text-semibold text-red-500 pl-12 py-4">Out of Stock</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>


<div class="-mt-40 px-60 flex items-center justify-center min-h-screen ">
  <div class="w-full h-auto">
    <div class=" px-28 bg-white shadow-xl rounded-lg overflow-hidden md:flex border-2">
      <div class="w-full  px-48 py-20 text-justify ">
      <!--comment count -->
      {% with comments.count as total_comments %}
      <h5 class="text-gray-900 text-3xl leading-tight font-medium mb-2 text-center mb-8 underline">Book Reviews</h5>
      <h2 class="my-8 text-xl flex items-center space-x-2 leading-tight font-medium mb-2 text-center">
        {{ total_comments }} Review{{ total_comments|pluralize }}

      </h2>
      {% endwith %}

      <!--comment loop-->
      {% for comment in comments %}

      <div id='review' class=''>
        <div class="shadow-lg pt-4 ml-2 mr-2 rounded-lg mb-4 ">
          <a href="#" class="block bg-white py-3 rounded-lg shadow-lg border-2 pb-4 ">
            <div class="px-4 py-2 flex  justify-between">
              <span class="text-sm font-semibold text-gray-900">{{comment.author}}</span>
              <div class="flex">
                <span class="px-4 text-sm font-semibold text-gray-600"> {{comment.date_created|naturalday}}</span>
                <img class="h-6 w-6 rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=144&q=80"
                  alt="">
              </div>
            </div>
            <p class="px-4 py-2 text-sm font-medium text-gray-600 text-justify">{{comment.content}}</p>
            <p class="px-4 py-2 text-sm font-medium text-gray-600"><span class='pr-4'>rating</span> {{comment.rating}}
            </p>
          </a>
        </div>
        <div class="mb-4 flex justify-start items-center text-sm w-full">
          <div class="font-semibold text-gray-700 px-4 flex items-center justify-center space-x-1">
            <a href="#" class="hover:underline">
              <small>Like</small>
            </a>
            <small class="self-center">.</small>
            <a href="#" class="hover:underline">
              <small>Upvote</small>
            </a>

            {% if request.user == comment.author %}
            <small class="self-center">.</small>
            <a href="/book/delete-review/{{comment.pk}}" class="hover:underline text-red-500">
              <small>Delete-review</small>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}


      {% if request.user.is_authenticated %}

      <!-- comment form -->
      <div class="flex items-center justify-center shadow-lg my-12 w-full">
        <form method='post' class="w-full max-w-xxl bg-gray-200 rounded-lg px-4 pt-2">
          {% csrf_token %}
          <div class="flex flex-wrap -mx-3 mb-6 ">
            <h2 class="px-4 pt-3 pb-2 text-gray-800  text-lg">Add Review for {{book.title}} </h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
              {{comment_form.content}}
              {{comment_form.rating}}
              <div class="pt-4 ">
                <input type='submit'
                  class=" bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide hover:bg-gray-100"
                  value='Post Review'>
              </div>
            </div>
        </form>
      </div>
    </div>

    {% else%}
    
    <h2 class="my-4 px-auto space-x-2 text-xl text-semibold text-red-600">Please <a href="{% url 'user_account:login' %}" class='hover:text-blue-600 hover:underline'>sign-in</a> to add review</h2>
    {% endif %}

  </div>
</div>
</div>
</div>
{% endblock content %}
