[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
readtime = "*"
django-ckeditor = "*"
Pillow = "*"
whitenoise = "*"
gunicorn = "*"
django-on-heroku = "*"
python-dotenv = "*"
weasyprint = "*"
razorpay = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
