{% extends 'reviews/home.html' %}
{% load crispy_forms_tags %}

{% block title %}User-profile{% endblock title %}
{% block content %}


<!-- profile-tab component -->

<!-- component -->
<link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />


<!-- profile-tab component -->
<div class="max-w-2xl mx-auto">
    
    <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
        <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true">Orders</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Contact's</button>
            </li>
            <li role="presentation">
                <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Settings</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent">
        
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="flex flex-col justify-center items-center relative h-full  bg-opacity-50 text-gray-600">
                <img src="https://image.freepik.com/free-vector/female-user-profile-avatar-offended-woman-character-screen-saver-with-emotions_505620-638.jpg?w=740" class="h-32 w-32 object-cover rounded-full">
                <h1 class="py-2 text-2xl font-semibold">{{user.first_name}}<span class='pl-2'>{{user.last_name}}</span></h1>
                <h4 class="text-sm font-semibold py-4">User Since {{user.date_joined}}</h4>
            </div>
            <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
            <div class="mt-12 mb-36 mx-16 flex flex-wrap">
                <button class="mx-8 bg-gray-200 bg-transparent hover:bg-grey-300 text-gray-500 font-semibold hover:text-gray-600 py-2 px-4 border border-grey hover:border-transparent rounded">
                    Edit profile
                  </button>
                <button class="mx-8 bg-gray-200 bg-transparent hover:bg-grey-300 text-gray-500 font-semibold hover:text-gray-600 py-2 px-4 border border-grey hover:border-transparent rounded">
                    Change password
                  </button>
            </div>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <!-- component -->
            <h1 class='text-xl text-gray-600 py-2 '>Order History</h1>
            <hr>
            <table class="border-collapse table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                    <tr>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Order</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Order-Date</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Price</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center">Invoice</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-sm divide-y divide-gray-100">
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="flex items-center py-8">
                                <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="" src="https://simg.pothi.com/hpJdS5VcpwsmwGgxEnrH8STpM0wx8gVhxqoFz9wTvuk/rs:fit/w:371/h:477/el:1/g:sm/cb:rev-3/bG9jYWw6Ly8vaW1h/Z2VzL3Byb2R1Y3Rz/LzIwMjIvMDEvU0tV/MTc2NzQvSW1hZ2Vf/MC5qcGc.jpg" width="60" height="60" alt="Alex Shatov"></div>
                                <div class="font-medium text-gray-800">Computer networks </div>
                            </div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">12-01-2022</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left font-medium text-green-500">₹264 </div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-lg text-center"><a href="" class=' text-sm text-gray-800'>BKR-112324-cd342-d</a></div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="p-2 whitespace-nowrap">
                            <div class="flex items-center py-8">
                                <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img class="" src="https://simg.pothi.com/hpJdS5VcpwsmwGgxEnrH8STpM0wx8gVhxqoFz9wTvuk/rs:fit/w:371/h:477/el:1/g:sm/cb:rev-3/bG9jYWw6Ly8vaW1h/Z2VzL3Byb2R1Y3Rz/LzIwMjIvMDEvU0tV/MTc2NzQvSW1hZ2Vf/MC5qcGc.jpg" width="60" height="60" alt="Alex Shatov"></div>
                                <div class="font-medium text-gray-800">Computer networks </div>
                            </div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left">12-01-2022</div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-left font-medium text-green-500">₹264 </div>
                        </td>
                        <td class="p-2 whitespace-nowrap">
                            <div class="text-lg text-center"><a href="" class=' text-sm text-gray-800'>BKR-112324-cd342-d</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="mt-4 text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Orders tab's associated Profile</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <h1 class='text-gray-600 text-bold text-xl my-4'>Contact Detail's</h1>
            <hr>
            <h1 class='text-gray-500 text-medium text-medium my-4'>Email-address <span class="pl-2">{{user.email}}</span> </h1>
            <h1 class='text-gray-500 text-medium text-medium my-4'>Contact-number <span class="pl-2">15245788</span> </h1>

            <hr>
            <h1 class='text-gray-600 text-bold text-xl my-4'>Primary address</h1>
                <hr>
                <h1 class='text-gray-500 text-medium text-medium my-4'>Address-1 <span class="pl-2">Connaught Place
                    कनॉट प्लेस
                    New Delhi, Delhi 110001</span> </h1>
                <h1 class='text-gray-500 text-medium text-medium my-4'>Address-2 <span class="pl-2">HSR Layout
                    ಎಚ್.ಎಸ್.ಅರ್. ಲೇಯೌಟ್
                    Bengaluru, Karnataka</span> </h1>

            
           
        </div>
        

        
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
            <p class="text-gray-500 dark:text-gray-400 text-sm">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>

            
                <button class=" mt-4 bg-red-500 bg-transparent hover:bg-grey text-red-200 font-semibold hover:text-white py-2 px-4 border border-grey hover:border-transparent rounded mr-2">
                    Delete profile
                  </button>
            </div>

            
        </div>
    </div>

    
<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
<!-- end profile-tab component -->

{% endblock content %}