{% extends 'reviews/home.html' %}


{% block content %}
<div class="bg-green-100 mx-56 mt-10 mb-48 border-2 border-green-500 rounded-lg py-8 px-6 mb-3 text-base text-green-500 inline-flex items-center w-3/5 shadow-lg" >
    <img src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="alert-img" class="w-16 h-16">
    <p class='text-justify text-xl text-bold pl-16 '>Welcome to Book-R your account is created sucessfully. Please activate your accoun by confirming your email , we have send you an e-mail with the confirmation Link. </p>
    
</div>

{% endblock content %}

