
{% extends 'reviews/home.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if not request.user.is_authenticated %}

     <div class="h-screen bg-white relative flex flex-col space-y-10 justify-center items-center">
        <div class="bg-gray-200 md:shadow-lg shadow-none rounded p-6 w-96">
            <h1 class="text-4xl text-center font-bold leading-normal">Sign-in</h1>
            
            <form class="space-y-5 mt-3" method="POST">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="bg-red-600 text-red-200 px-4 py-2 rounded-lg">
                        Error: Username or Password not correct!
                    </div>
                {% endif %}

                {{form.username}}
                {{form.password}}
                
                <button
                    class="w-full text-center bg-blue-700 hover:bg-blue-900 rounded-full text-white py-3 font-medium"
                    type="submit" value="login">Sign in</button>
                <div class="-m-2">
                    <a class="font-medium text-sm text-blue-700 hover:bg-blue-200 hover:underline hover:p-5 p-2 rounded-full"
                        href="#">Forgot password?</a>
                </div>
            </form>
        </div>
        <p>New to Book-R?<a class="text-blue-700 font-bold hover:bg-blue-200 hover:underline hover:p-5 p-2 rounded-full"
                href="#">Join now</a></p>
        {% endif %}

{% endblock content %}

   