{% extends 'reviews/home.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Section 1 -->
<section class="w-full bg-white">

    <div class="mx-auto max-w-7xl">
        <div class="flex flex-col lg:flex-row">
            <div
                class=" relative w-full bg-cover lg:w-6/12 xl:w-6/12 bg-gradient-to-l from-white via-white to-gray-100">
                <div
                    class="relative flex flex-col items-center justify-center w-full h-full px-10 my-20 lg:px-16 lg:my-0">
                    <img src="https://image.freepik.com/free-vector/knowledge-concept-illustration_114360-3023.jpg"
                        alt="book-reader-register-page" class="">
                </div>
            </div>

            <div class="w-full bg-white lg:w-6/12 xl:w-6/12">
                <div
                    class=" flex flex-col items-start justify-start w-full h-full p-4 lg:p-8 xl:p-12 bg-gradient-to-r from-white via-white to-gray-100">


                    <h4 class="w-3/4 text-4xl font-bold">Sign-up for Book-R!</h4>
                    <p class="text-sm text-gray-600 text-medium mt-3 italic">Get ready to meet your favorite Book's</p>

                    <div class="relative w-full mt-4 space-y-8">
                        <form class="space-y-5 mt-3" action="" method="post">
                            {% csrf_token %}

                            <div class="relative">

                                {% if form.errors %}
                                {% if form.non_field_errors %}
                                <div class="bg-red-100 rounded-lg py-5 px-6 mb-3 text-base text-red-700 inline-flex items-center w-3/5" role="alert">
                                    <img src="https://cdn-icons.flaticon.com/png/512/4201/premium/4201973.png?token=exp=1643782418~hmac=5d46005c897e27ca8f6cad6a2956f765" alt="alert-img" class="w-12 h-12 pr-6">
                                    {{form.non_field_errors|striptags}}
                                  </div>
                                {% endif %}
                                {% for field in form %}
                                {% if field.errors %}
                                <div class="bg-red-100 rounded-lg py-5 px-6 mb-3 text-base text-red-700 inline-flex items-center w-3/5" role="alert">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                      <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
                                    </svg>
                                    {{field.errors|striptags}}
                                  </div>
                                {% endif %}{% endfor %}{% endif %}
                                
                                
                                
                                {{form.username}}
                                {{form.email}}
                                {{form.password}}
                                {{form.confirm_password}}
                        
                                <div class="relative">
                                    <button type="submit" class="inline-block w-3/5 px-4 py-2 mt-4 text-md font-medium text-center text-white transition duration-200 bg-blue-700 hover:bg-blue-800 ease rounded-lg">Done</button>
                                </div>

                                
                                <p class="text-xs text-gray-500 text-medium mt-2 ">Already have an account? <a href="{% url 'user_account:login'%}"
                                        class="text-purple-700 underline ">sign in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% comment %} {% if not request.user.is_authenticated %}

<div class="h-screen bg-white relative flex flex-col space-y-10 justify-center items-center">
    <div class="bg-gray-200 md:shadow-lg shadow-none rounded p-6 w-96">
        <h1 class="text-4xl text-center font-bold leading-normal">Sign-in</h1>

        <form class="space-y-5 mt-3" method="POST">
            {% csrf_token %}

            {% if form.errors %}
            <div class="bg-red-600 text-red-200 px-4 py-2 rounded-lg">
                Error: Username or Password not correct!
            </div>
            {% endif %}

            {{form.username}}
            {{form.password}}

            <button
                class="w-full text-center bg-purple-700 hover:bg-puprle-900 rounded-full text-white py-3 font-medium"
                type="submit" value="login">Sign in</button>
            <div class="-m-2">
                <a class="font-medium text-sm text-blue-700 hover:bg-blue-200 hover:underline hover:p-5 p-2 rounded-full"
                    href="#">Forgot password?</a>
            </div>
        </form>
    </div>
    <p>New to Book-R?<a class="text-blue-700 font-bold hover:bg-blue-200 hover:underline hover:p-5 p-2 rounded-full"
            href="#">Join now</a></p>
    {% endif %} {% endcomment %}

    {% endblock content %}

























    {% comment %} {% extends 'reviews/templates/review/home.html' %}
    <!DOCTYPE html>
    {% load crispy_forms_tags %}

    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <title>Registration-page</title>

    </head>

    <body>


        <div class="container w-2/3 m-20 w-80 py-2 mx-auto border-2 border-gray-500 bg-gray-300 rounded-lg shadow-lg">

            <form class=" px-12 py-4" action="" method="POST">
                {% csrf_token %}
                <h2 class="text-xs bg-green-200 text-green-600 p-4 mb-4 border-2 rounded-lg">Registration-Page</h2>
                {{form|crispy}}
                <button class="bg-blue-400 rounded hover:bg-blue-500 px-4 py-2" type="submit">Register</button>
                <button class="bg-red-400 rounded hover:bg-red-500 px-4 py-2" type="cancel">Cancel</button>
                <span class="block">forget password? <a class="text-blue-800" href="">reset here</a></span>
            </form>

        </div>
    </body>

    </html>


    {% endcomment %}