{% extends 'blog/blog_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="mx-32 my-2 p-4 ">
  <a class="  text-red-400 hover:text-red-500" href="{% url 'blog:post_list'%}">Back</a>
  <a class=" px-8 text-red-400 hover:text-red-500" href="share">Share post</a>
</div>
 


<div class="  text-sm font-light bg-gray-200 m-4 p-4 mx-32 border solid-gray-400 rounded">
  <h1 class="font-base font-bold">{{ post.title }}</h1>
  <h2 class="pt-1 pb-4 text-sm font-md font-normal">By: {{ post.author }}</h2>
  <hr>
  <p class="pb-4 font-light text-sm text-justify leading-6">{{post.body}}</p>
  <li class='text-xs pt-8'>Create on - {{post.created}}</li>
  <li class='text-xs'>Last Updated - {{post.updated}}</li>
  <div class="pt-4 ">
    <a class=" px-8 text-blue-400 hover:text-blue-500" href="">Edit post</a>
    <a class=" px-8 text-red-400 hover:text-red-500" href="">Delete post</a>
    
  </div>

  
  {% for comment in comments %}
  <div class="bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700 mb-3" role="alert">
        <p>{{comment.body}}</p>
        <span>{{comment.name}}</span>
        <span>{{comment.Updated}}</span>
      </div>
      {% endfor %}

      <form action="" method="post">
        {% csrf_token %}
        {{comment_form|crispy}}
        
      </form>
</div>




  


{% endblock content %}



