<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tailwwind-css playbook</title>
</head>
<body>
    

    <div class="min-h-screen bg-gray-200">
        <div class="container flex  mx-auto py-20 space-x-4 ">
            <div class="flex-shrink   bg-white border-2 border-red-400 roumded-lg shadow-lg p-8 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quos vel nobis officiis modi voluptatem consequuntur suscipit, fugiat maxime ipsam molestias. Voluptatem laborum id nihil repellat dolorum ipsa unde sequi.</p>
            </div>

            <div class="flex-shrink   bg-white border-2 border-red-400 roumded-lg shadow-lg p-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quos vel nobis officiis modi voluptatem consequuntur suscipit, fugiat maxime ipsam molestias. Voluptatem laborum id nihil repellat dolorum ipsa unde sequi.</p>
            </div>

            <div class="flex-shrink   bg-white border-2 border-red-400 roumded-lg shadow-lg p-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quos vel nobis officiis modi voluptatem consequuntur suscipit, fugiat maxime ipsam molestias. Voluptatem laborum id nihil repellat dolorum ipsa unde sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, iure.
                modi voluptatem consequuntur suscipit, fugiat maxime ipsam molestias. Voluptatem laborum id nihil repellat dolorum ipsa unde sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, iure
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="  bg-green-100">
        <a href="" class="block px-2 p-2 text-blue-300 hover:text-blue-400 border-b-4">link1 -- filter -- sort</a>
       
    </div>
    <div class="  container mx-auto  p-4 min-h-screen flex flex-wrap space-x-4 space-y-2 ">
        <div class=" text-sm text-justify text-gray-500 border border-gray-200 shadow-lg ">
            <img src="https://simg.pothi.com/WZqhOsFTvXkYfgtyffAgpRArv2PlJvp8Vi-joGl2awQ/rs:fit/w:371/h:477/el:1/g:sm/cb:rev-9/bG9jYWw6Ly8vaW1h/Z2VzL3Byb2R1Y3Rz/LzIwMjEvMDUvU0tV/MTQ3NTYvSW1hZ2Vf/MC5qcGc.jpg" alt="book-1" class=" rounded-lg shadow-lg">
            <h1 class='pt-4 text-lg font-bold text-justify text-gray-600'>The keshav way</h1>
            <h2>By : Vinay Sutaria</h2>
            <h2 class=' pt-2 text-green-400'>Self-Help|English|Must-read|best-seller</h2>
            
            <span class=" pr-4 text-xl font-bold">⭐⭐⭐⭐</span>
            <a href="" class="pl-16 text-blue-400 hover:text-blue-600">read more</a>
            
        </div>

        <div class=" text-sm text-justify text-gray-500 border-r-2 ">
            <img src="https://simg.pothi.com/WZqhOsFTvXkYfgtyffAgpRArv2PlJvp8Vi-joGl2awQ/rs:fit/w:371/h:477/el:1/g:sm/cb:rev-9/bG9jYWw6Ly8vaW1h/Z2VzL3Byb2R1Y3Rz/LzIwMjEvMDUvU0tV/MTQ3NTYvSW1hZ2Vf/MC5qcGc.jpg" alt="book-1" class=" rounded-lg shadow-lg">
            <h1 class='pt-4 text-lg font-bold text-justify text-gray-600'>The keshav way</h1>
            <h2>By : Vinay Sutaria</h2>
            <h2 class=' pt-2 text-green-400'>Self-Help|English|Must-read|best-seller</h2>
            
            <span class=" pr-4 text-xl font-bold">⭐⭐⭐⭐</span>
            <a href="" class="pl-16 text-blue-400 hover:text-blue-600">read more</a>
            
        </div>

        <div class=" text-sm text-justify text-gray-500 border-r-2 ">
            <img src="https://simg.pothi.com/WZqhOsFTvXkYfgtyffAgpRArv2PlJvp8Vi-joGl2awQ/rs:fit/w:371/h:477/el:1/g:sm/cb:rev-9/bG9jYWw6Ly8vaW1h/Z2VzL3Byb2R1Y3Rz/LzIwMjEvMDUvU0tV/MTQ3NTYvSW1hZ2Vf/MC5qcGc.jpg" alt="book-1" class=" rounded-lg shadow-lg">
            <h1 class='pt-4 text-lg font-bold text-justify text-gray-600'>The keshav way</h1>
            <h2>By : Vinay Sutaria</h2>
            <h2 class=' pt-2 text-green-400'>Self-Help|English|Must-read|best-seller</h2>
            
            <span class=" pr-4 text-xl font-bold">⭐⭐⭐⭐</span>
            <a href="" class="pl-16 text-blue-400 hover:text-blue-600">read more</a>
            
        </div>

        <div class=" text-sm text-justify text-gray-500 border-r-2 ">
            <img src="https://simg.pothi.com/WZqhOsFTvXkYfgtyffAgpRArv2PlJvp8Vi-joGl2awQ/rs:fit/w:371/h:477/el:1/g:sm/cb:rev-9/bG9jYWw6Ly8vaW1h/Z2VzL3Byb2R1Y3Rz/LzIwMjEvMDUvU0tV/MTQ3NTYvSW1hZ2Vf/MC5qcGc.jpg" alt="book-1" class=" rounded-lg shadow-lg">
            <h1 class='pt-4 text-lg font-bold text-justify text-gray-600'>The keshav way</h1>
            <h2>By : Vinay Sutaria</h2>
            <h2 class=' pt-2 text-green-400'>Self-Help|English|Must-read|best-seller</h2>
            
            <span class=" pr-4 text-xl font-bold">⭐⭐⭐⭐</span>
            <a href="" class="pl-16 text-blue-400 hover:text-blue-600">read more</a>
            
        </div>

        <div class=" text-sm text-justify text-gray-500 border-r-2 ">
            <img src="https://simg.pothi.com/WZqhOsFTvXkYfgtyffAgpRArv2PlJvp8Vi-joGl2awQ/rs:fit/w:371/h:477/el:1/g:sm/cb:rev-9/bG9jYWw6Ly8vaW1h/Z2VzL3Byb2R1Y3Rz/LzIwMjEvMDUvU0tV/MTQ3NTYvSW1hZ2Vf/MC5qcGc.jpg" alt="book-1" class=" rounded-lg shadow-lg">
            <h1 class='pt-4 text-lg font-bold text-justify text-gray-600'>The keshav way</h1>
            <h2>By : Vinay Sutaria</h2>
            <h2 class=' pt-2 text-green-400'>Self-Help| Self Improvrmen|English|best-seller</h2>
            
            <span class=" pr-4 text-xl font-bold">⭐⭐⭐⭐</span>
            <a href="" class="pl-16 text-blue-400 hover:text-blue-600">read more</a>
            
        </div>

        

        

        

        
       
    </div>
</body>
</html>