{% extends 'reviews/home.html' %}
{% load static %}
{% block title %}Bookr-Checkout{% endblock title %}

{% block content %}

<!-- checkout-component -->
<div class=" flex leading-loose mx-48 px-44 my-28">

  <form method='POST' action='{% url 'orders:order_now' book.id %}'
    class=" max-w-xl m-4 p-10 bg-white border-2 rounded-lg shadow-xl">
    {% csrf_token %}
    <div class="">
      <h1 class='text-gray-800 font-medium text-2xl text-center my-8'>CONTINUE TO CHECKOUT </h1>
    </div>

    <div class="">
      <label class="block text-sm text-gray-00" for="cus_name">Name</label>
      {{form.name}}
    </div>
    <div class="mt-2">
      <label class="block text-sm text-gray-600" for="cus_email">Email</label>
      {{form.email}}
    </div>
    <div class="mt-2">
      <label class=" block text-sm text-gray-600" for="cus_email">Address</label>
      {{form.street}}
    </div>
    <div class="mt-2">
      <label class="hidden text-sm block text-gray-600" for="cus_email">City</label>
      {{form.city}}
    </div>
    <div class="inline-block mt-2 w-1/2 pr-1">
      <label class="hidden block text-sm text-gray-600" for="cus_email">State</label>
      {{form.state}}
    </div>
    <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
      <label class="hidden block text-sm text-gray-600" for="cus_email">Zip</label>
      {{form.zip}}

    </div>

    <div class="mt-4">
      {% if book.price > 0 %}
      <button class=" w-full px-4 py-1 text-white font-medium tracking-wider bg-indigo-500 hover:bg-indigo-600 rounded"
        type="submit">CONTINUE TO PAY <span class='px-3'>₹{{ book.price }}</span></button>
        {% else %}
        <button class="cursor-not-allowed w-full px-4 py-1 text-white font-medium tracking-wider bg-red-500 hover:bg-red-600 rounded"
        type="submit">NO PRODUCT'S IN YOUR CART TO PAY FOR!</span></button>
        {% endif %}
    </div>
  </form>
  <div class="flex-row mt-12">
    <img class='block' src="{% static 'image/checkout.png'%}" alt="checkout-img">
  </div>
</div>

{% endblock content %}