<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tailwind-css-playground</title>
</head>

<body>
   <div class="relative p-8 bg-green-200 container mx-auto flex">
        <div class="absolute p-10 top-10 left-10 bg-green-300 w-1/5">
            <h1 class="py-4 text-xl text-center">Categories</h1>
            <a class = "block mx-1 my-2  px-6 py-3 bg-blue-200 rounded-md align-ceter hover:bg-blue-400" href="">test link</a>
            <a class = "block mx-1 my-2 px-6 py-3 bg-blue-200 rounded-md align-ceter hover:bg-blue-400" href="">test link</a>
            <a class = "block mx-1 my-2 px-6 py-3 bg-blue-200 rounded-md align-ceter hover:bg-blue-400" href="">test link</a>
            <a class = "block mx-1 my-2 px-6 py-3 bg-blue-200 rounded-md align-ceter hover:bg-blue-400" href="">test link</a>
        </div>

        <div class="fixed top-10 left-64 p-10 bg-red-300 w-3/5">
            <h1 class="pb-4 text-2xl font-bold"> Post Title 1</h1>
            <img class = "my-4 object-cover "src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Ym9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="blog-img" srcset="">
            <h2>By: Lorem</h2> 
            <span class="text-blue-400 text-md">on: 22nd Jan</span>
            <span class="text-blue-400 text-md">| 5 min Read</span>
            <p class="pb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus debitis fuga necessitatibus quod incidunt repellendus!</p>
            <p class="pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in!</p>
            <a class= "text-blue-100 bg-blue-400 rounded-lg px-4 py-2 hover:bg-blue-600"  href="">read more...</a>
        </div>

        <div class="absolute top-100 left-64 p-10 bg-red-300 w-3/5">
            <h1 class="pb-4 text-2xl font-bold"> Post Title 2 </h1>
            <img class = "my-4 object-cover "src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Ym9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="blog-img" srcset="">
            <h2>By: Lorem</h2> 
            <span class="text-blue-400 text-md">on: 22nd Jan</span>
            <span class="text-blue-400 text-md">| 5 min Read</span>
            <p class="pb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus debitis fuga necessitatibus quod incidunt repellendus!</p>
            <p class="pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, in!</p>
            <a class= "text-blue-100 bg-blue-400 rounded-lg px-4 py-2 hover:bg-blue-600"  href="">read more...</a>
        </div>
        
        
   </div>
   

    
    
</body>

</html>