{% extends 'reviews/home.html' %}
{% load static %}
{% block title %}Bookr-payment failed!{% endblock title %}

{% block content %}

<div class="mx-80">
    <div class="border-2 border-red-400 w-96 mx-96 my-48 h-96 rounded-lg shadow-2xl p-8 bg-red-300 ">
        <p class="text-3xl font-bold uppercase text-center text-underline py-4">BOOKR-STORE</p>
        <p class="text-xl font-semibold uppercase text-center mb-28">Payment Failed!</p>
  
  
        <a href="/"
            class='ml-28 border-4 border-red-500 rounded-md hover:bg-red-400 border-red-500  px-6 py-3  text-lg'>Home</a>
  
  
  
    </div>
  </div>
</div>
{% endblock content %}