{% extends 'reviews/home.html' %}
{% load static %}
{% block title %}Bookr-payment sucess!{% endblock title %}

{% block content %}

<div class="mx-80">
    <div class="border-2 border-green-500 w-96 mx-96 my-48 h-96 rounded-lg shadow-2xl p-8 bg-green-300 text-green-800 ">
        <p class="text-3xl font-bold uppercase text-center text-underline py-4">BOOKR-STORE</p>
        <p class="text-xl font-semibold uppercase text-center mb-4">Payment Sucess!</p>
        <p class="text-md  uppercase text-center mb-24">Transection id : <span class='px-2'>{{transection}}</span> </p>
  
  
        <a href="/"
            class='mt-24 ml-28 border-4 border-green-500 rounded-md hover:bg-green-400 border-green-500  px-6 py-3  text-lg'>Home</a>
  
  
  
    </div>
  </div>
{% endblock content %}